<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>

    </header>

    <h2>Welkom, <strong><%= user.name %></strong></h2>

    <section class="userInfo">

        <p>Naam:<%= user.name %></p>
        <p>Locatie:<%= user.location %></p>
        <p>Interesse:<%= user.interest %></p>
        <p>Tijdsduur:<%= user.time %></p>

    </section>


    <section class="form">
        <ul>
        
                <form name="updateForm" action="/profile" id="contact-form" method="post" >
          

                <li> <label for="newLocation" id="newLocation"> Op welke locatie wil je wandelen?</label>
                    <input type="text" name="newLocation"> </li>
               
    
    </section>
                
                <input class="input-button" type="submit" value="Wijzig je locatie" />
    
            </form>
        </ul>
    </section>

    <a href="delete"><button>Account verwijderen</button></a>


    <footer>

        <!--working with include: including a footer from the partial directory-->
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>