
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>

    </header>

    <h1>Jouw matches:</h1>

 
    <ul>
        <% match.forEach(function(match) { %>
          <li>
            <strong>naam:<%= match.name %></strong>
            locatie: <%= match.location %>,
            interesse: <%= match.interest %>,
            lengte wandeling:  <%= match.time %>
          </li>
        <% }); %>
      </ul>
     

    <footer>
    
    <!--working with include: including a footer from the partial directory-->
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>