
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>

    </header>

    <h1>Jouw matches:</h1>

 
    <ul class="matches">
        <% match.forEach(function(match) { %>
          <li>
            <img src="../../public/images/heart.png" height="20px" width="20px">
            <p>naam: <%= match.name %></p>
            <p>locatie: <%= match.location %></p>
            <p>interesse: <%= match.interest %></p>
            <p>lengte wandeling: <%= match.time %></p>
          </li>
        <% }); %>
      </ul>
     

    <footer>
    
    <!--working with include: including a footer from the partial directory-->
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>